<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'SEARCH.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="model.isLoaded">
    <ion-list>
      <ion-item>
        <ion-label>{{'SEARCH.CAPTION_SELECT_TYPE' | translate}}</ion-label>
        <ion-select [(ngModel)]="model.type" name="type" #item (ngModelChange)="onChangeType($event)">
          <ion-option *ngFor="let opt of options.types" [value]="opt.value">{{opt.text | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="model.type">
        <ion-label>{{'SEARCH.CAPTION_SELECT_CLOTHING' | translate}}</ion-label>
        <ion-select [(ngModel)]="model.sizeType" name="sizeType" (ngModelChange)="onChangeSizeType($event)">
          <ion-option *ngFor="let opt of model.sizeTypes" [value]="opt.value">{{opt.text | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="model.sizeType">
        <ion-label>{{'SEARCH.CAPTION_SELECT_SIZES' | translate}}</ion-label>
        <ion-select [(ngModel)]="model.size" name="size" (ngModelChange)="onChangeSize($event)">
          <ion-option *ngFor="let opt of model.availableSizes" [value]="opt">{{opt}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngFor="let size of model.convertedSize">
        <img [src]="size.flag" class="flag" item-left large />
        <h2>{{size.text | translate}}</h2>
        <p>{{size.value}}</p>
      </ion-item>

      <ion-item>
        <button ion-button color="danger" type="button" block icon-left (click)="goHome()">
          <ion-icon name="return-left"></ion-icon>
          {{'SEARCH.BUTTON_BACK' | translate}}
        </button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>