<ion-header>
  <ion-navbar id="toolbar" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Whats Size</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #homeSlider [options]="homeSlider" *ngIf="model.isLoaded">
    <ion-slide>
      <ion-row>
        <ion-col width-100>
          <ion-item>
            <ion-icon name="md-contacts" item-left></ion-icon>
            {{'HOME.TITLE' | translate}}
            <ion-badge (click)="clickCount()" item-right>{{model.sizesCount}}</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-card>
            <img src="assets/images/home.jpg" />

            <ion-card-content>
              <p>
                <ion-badge color="secondary" item-right>
                  {{'HOME.TOUCHMESSAGE' | translate}}
                  <ion-icon name="arrow-forward"></ion-icon>
                </ion-badge>
              </p>
              <ion-card-title>
                {{ 'HOME.CARDTITLE' | translate }}
              </ion-card-title>
              <p>
                {{ 'HOME.MESSAGE' | translate }}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide *ngFor="let s of model.sizes let idx=index">
      <size-view [(entity)]="model.sizes[idx]"></size-view>
    </ion-slide>
  </ion-slides>
</ion-content>