<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SIZE.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <button ion-button green type="button" block icon-left (click)="goToSizeForm()">
            <ion-icon name="add"></ion-icon>
            {{ 'SIZE.BUTTONS.NEW' | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-list *ngIf="model.sizes.length === 0">
            <ion-item>
              <h5>{{ 'SIZE.ALERTS.GRIDEMPTY' | translate }}</h5>
            </ion-item>
          </ion-list>
          <ion-list radio-group [(ngModel)]="model.size" name="size" (ngModelChange)="onSelectedSize($event)" *ngIf="model.sizes.length > 0">
            <ion-item *ngFor="let opt of model.sizes">
              <span>{{opt.personName}}</span>
              <button ion-button type="button" outline item-right icon-left item-right (click)="editSize(opt)">
                <ion-icon name="md-create"></ion-icon>&nbsp;{{ 'SIZE.BUTTONS.EDIT' | translate }}
              </button>
              <button ion-button type="button" outline item-right icon-left item-right (click)="deleteSize(opt)">
                <ion-icon name="trash"></ion-icon>&nbsp;{{ 'SIZE.BUTTONS.DELETE' | translate }}
              </button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <button ion-button color="danger" type="button" block icon-left (click)="goHome()">
            <ion-icon name="return-left"></ion-icon>
            {{ 'SIZE.BUTTONS.BACK' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>